[submodule "coffee-review-website/coffee"]
	path = coffee-review-website/coffee
	url = https://github.com/Cyrof/coffee-review.git
[submodule "wakeonlan/wol"]
	path = wakeonlan/wol
	url = https://github.com/Cyrof/RemoteWakeServer.git
