controller: 
  # run daemonset so every node including master node
  kind: Deployment
  replicaCount: 1

  # clear default affinity (amd64 contrainst)
  affinity: {}

  # allow schedule in ARM64
  nodeSelector:
    role: edge
    kubernetes.io/arch: "arm64"
    kubernetes.io/os: "linux"

  ingressClassResource:
    enabled: true
    name: nginx
    default: true

  # allow scheduling on master 
  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Exists"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule"

  service:
    type: NodePort
    externalTrafficPolicy: Local
    nodePorts:
      http: 32080
      https: 32443

admissionWebhooks:
  enabled: true
